<ion-view title="About Us">
    <ion-content class="has-header">
        <div class="row">
            <div class="col">
                <img src="img/phil_flip.jpg" class="rounded_image" style="width: 100%; padding: 2px 0px;">
            </div>
            <div class="col col-75">
                <h3>What if choosing an agent was as easy as shopping for your latest gadget?</h3>
            </div>
        </div>
        <div class="row padding">
            <h4 class="light_text">
                Back in foreclosure crisis, I saw families struggle to find an agent to make real effort to sell their home.  So, when I bought my first house, I got licensed to represent myself.  As the market heats up, buyers are now the ones struggling to get the help they need.<br /><br />
                I created this app just for California buyers.  Here, you'll only see agents who are active in your target area.  Agents don't pay to be listed there, as they do on Zillow and Trulia.  Lastly, we ask buyers for continuous feedback on agents, so we can show only the ones that keep their customer service stats keep up.
            </h4>
        </div>
    </ion-content>
</ion-view>