<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-stable tabs-top tabs-icon-left"> -->
<ion-tabs class="tabs-stable tabs-icon-left">

  <ion-tab title="Agents" icon="icon ion-android-chat" href="#/tab/agents">
    <ion-nav-view name="tab-agents"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon="icon ion-information-circled" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>



<!-- other nice icons:
     ion-ios7-location (or icon ion-pinpoint), icon ion-ios7-search-strong, icon ion-ios7-star -->